@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root{height: 100%;}
.App{ height: 100%; }
html { height:100%; min-width: none; }
:root{
 --header-size: 80px;
 --bg-color: #101010;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*------- header --------*/
header {
  padding: 20px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.logo{
  height: fit-content;
  width: var(--header-size);
  position: absolute;
  z-index: 1000;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.links {
  display: flex;
  justify-content: right;
  position: absolute;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 999;
  height: var(--header-size);
  font-weight: bold;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 25px;
  position: relative;
}
.links a:hover{
  color: grey;
}
.links a.active{
  text-decoration: underline;
  text-underline-offset: 10px;
}
.wrapperDiv{
  /*height: var(--header-size);*/

}
.sidebar{
  position: absolute;
  display: flex;
  background-color: var(--bg-color);
  z-index: 999;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  width: var(--header-size);
  
}
.sidebarlinks{
  display: flex;
  flex-direction: column;
}
.sidebarlinks svg{
  width: calc(var(--header-size) / 2.5);
  height: calc(var(--header-size) / 2.5);
}
.sidebarlinks a{
  height: calc(var(--header-size) / 2.5);
  margin-bottom: 25px;
}
.sidebarlinks a:hover{
  filter: invert(48%);
}
/*---------HOME------------ */
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  padding: 0;
  font-size: 2vw;
  height: 100%;
  min-width: 300px;
}
.image{
  height: 100%;
}
.image img{
  height: 80vh;
  width: fit-content;
  filter: opacity(50%) grayscale(100);
}
/*--------VISIBLE PAGE CONTENT---------- */
.content{
  background-color: var(--bg-color);
  margin-left: var(--header-size);
  height: 100%;
  box-sizing: border-box;
  padding-top: var(--header-size);
}
